{
	# раз в 5 минут сверяет публичный IP и правит A-запись languagedrilling.com
	dynamic_dns {
		provider cloudflare {env.CF_API_TOKEN}
		domains {
			languagedrilling.com
		}
		check_interval 5m
		versions ipv4
	}
}

# HTTPS на 9094: 80/443 через роутер провайдера не проходят, сертификат получаем по DNS-проверке
https://languagedrilling.com:9094 {
	tls {
		dns cloudflare {env.CF_API_TOKEN}
		resolvers 1.1.1.1 1.0.0.1
	}
	encode gzip
	# сайт greek_drilling из соседнего compose, опубликован на хосте на 9093
	reverse_proxy host.docker.internal:9093
}
